In [2]:
import pandas as pd

# Notebook to create a meaningful movie data set
Two data sources
- the **IMDb data sets** to download [link](https://datasets.imdbws.com/) (not stored on github, to run the notebook -> download relevant data). Contains many info ratings etc but not box-office and in a not convenient way (SQL storage)
- **boxoffice stats**, for now from [link](https://www.boxofficemojo.com/year/2015/)

**Goal**: for each 2015-2020 US movie get ratings, boxoffice, director names, main actor names...

## Processing the IMDb data sets
The data set is organized in a SQL way, each table being a compressed tsv file. We are going to filter the data and merge files to get in one csv file all the info needed anbout a movie.
### Filter relevant years only

In [64]:
df1 = pd.read_csv('./data/title.basics.tsv.gz', compression='gzip', header=0, sep='\t', na_values='\\N')

/Users/goujon/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [65]:
df1[df1["primaryTitle"].str.contains("Star Wars: Episode V",na=False)]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
78976,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,0.0,1980.0,NaN,124.0,"Action,Adventure,Fantasy"
84322,tt0086190,movie,Star Wars: Episode VI - Return of the Jedi,Star Wars: Episode VI - Return of the Jedi,0.0,1983.0,NaN,131.0,"Action,Adventure,Fantasy"
1318730,tt10618318,tvEpisode,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,0.0,2019.0,NaN,NaN,Comedy
1326464,tt10631820,tvEpisode,Star Wars: Episode VI - Return of the Jedi,Star Wars: Episode VI - Return of the Jedi,0.0,2019.0,NaN,NaN,Comedy
1486139,tt10910686,tvEpisode,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,0.0,2019.0,NaN,127.0,Talk-Show
1515793,tt10962828,tvEpisode,Everything GREAT About Star Wars: Episode VII ...,Everything GREAT About Star Wars: Episode VII ...,0.0,2016.0,NaN,15.0,Comedy
1535270,tt10996576,tvEpisode,Star Wars: Episode VI - Return of the Jedi,Star Wars: Episode VI - Return of the Jedi,0.0,2019.0,NaN,133.0,Talk-Show
1603022,tt11114174,tvEpisode,RICK REACTS ~ Star Wars: Episode VII - The For...,RICK REACTS ~ Star Wars: Episode VII - The For...,0.0,2019.0,NaN,70.0,Reality-TV
1685186,tt11261064,tvEpisode,Everything GREAT About Star Wars: Episode V - ...,Everything GREAT About Star Wars: Episode V - ...,0.0,2017.0,NaN,22.0,Comedy
1685193,tt11261078,tvEpisode,Everything GREAT About Star Wars: Episode VI -...,Everything GREAT About Star Wars: Episode VI -...,0.0,2017.0,NaN,24.0,Comedy
1727026,tt11335080,tvEpisode,RICK REACTS - Star Wars: Episode VIII - The La...,RICK REACTS - Star Wars: Episode VIII - The La...,0.0,2019.0,NaN,76.0,Reality-TV
1757080,tt11388510,tvEpisode,Everything GREAT About Star Wars: Episode VIII...,Everything GREAT About Star Wars: Episode VIII...,0.0,2018.0,NaN,42.0,Comedy
2036776,tt11879962,tvEpisode,Honest Trailers - Star Wars: Episode V - The E...,Honest Trailers - Star Wars: Episode V - The E...,0.0,2016.0,NaN,14.0,Talk-Show
2315173,tt12376296,tvEpisode,Star Wars: Episode V - The Empire Strikes Back...,Star Wars: Episode V - The Empire Strikes Back...,0.0,2017.0,NaN,21,Comedy
2319794,tt12384466,tvEpisode,Star Wars: Episode VII - The Force Awakens (2015),Star Wars: Episode VII - The Force Awakens (2015),0.0,2017.0,NaN,30,Comedy
2319795,tt12384468,tvEpisode,Star Wars: Episode VI - Return Of The Jedi (1983),Star Wars: Episode VI - Return Of The Jedi (1983),0.0,2017.0,NaN,24,Comedy
3560378,tt14623004,tvEpisode,"Kino+ #11: Fruitvale Station, Star Wars: Episo...","Kino+ #11: Fruitvale Station, Star Wars: Episo...",0.0,2014.0,NaN,NaN,"News,Talk-Show"
3719241,tt14908548,tvEpisode,First Impressions of Star Wars: Episode VII- T...,First Impressions of Star Wars: Episode VII- T...,0.0,2015.0,NaN,NaN,NaN
3719250,tt14908562,tvEpisode,Star Wars: Episode VII- The Force Awakens: Tal...,Star Wars: Episode VII- The Force Awakens: Tal...,0.0,2016.0,NaN,NaN,NaN
3786455,tt15032892,tvEpisode,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,0.0,2019.0,NaN,NaN,Talk-Show
4379681,tt1779520,tvEpisode,Star Wars: Episode V,Star Wars: Episode V,0.0,2008.0,NaN,NaN,"Comedy,Short"
4379696,tt1779535,tvEpisode,Star Wars: Episode VI,Star Wars: Episode VI,0.0,2008.0,NaN,NaN,"Comedy,Short"
4993277,tt2488496,movie,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,0.0,2015.0,NaN,138.0,"Action,Adventure,Sci-Fi"
5008541,tt2527336,movie,Star Wars: Episode VIII - The Last Jedi,Star Wars: Episode VIII - The Last Jedi,0.0,2017.0,NaN,152.0,"Action,Adventure,Fantasy"
5390804,tt3432148,video,Audition for Star Wars: Episode VII,Audition for Star Wars: Episode VII,0.0,2013.0,NaN,7.0,"Biography,Family,Short"
6206240,tt5274914,tvEpisode,Star Wars: Episode V - L'Empire contre-attaque,Star Wars: Episode V - L'Empire contre-attaque,0.0,2009.0,NaN,NaN,Comedy
6212968,tt5289946,tvEpisode,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,0.0,2015.0,NaN,5.0,"Documentary,Short"
6212969,tt5289948,tvEpisode,Star Wars: Episode VI - Return of the Jedi,Star Wars: Episode VI - Return of the Jedi,0.0,2015.0,NaN,6.0,"Documentary,Short"
6212972,tt5289954,tvEpisode,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,0.0,2015.0,NaN,34.0,"Documentary,Short"
6251698,tt5377194,video,Star Wars: Episode VII - Toys,Star Wars: Episode VII - Toys,0.0,2015.0,NaN,NaN,Short
6358009,tt5613052,video,Star Wars: Episode VII - The Force Awakens: Th...,Star Wars: Episode VII - The Force Awakens: Th...,0.0,2016.0,NaN,4.0,"Documentary,Short"
6666746,tt6306348,tvEpisode,Star Wars: Episode VIII Teaser Reactions,Star Wars: Episode VIII Teaser Reactions,0.0,2016.0,NaN,NaN,Talk-Show
6683696,tt6343590,tvEpisode,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,0.0,2016.0,NaN,NaN,Comedy
7099942,tt7252666,tvEpisode,Everything Wrong with Star Wars: Episode VII -...,Everything Wrong with Star Wars: Episode VII -...,0.0,2016.0,NaN,19.0,Comedy
7101393,tt7255774,tvEpisode,Star Wars: Episode VIII,Star Wars: Episode VIII,0.0,2015.0,NaN,NaN,News
7329651,tt7745116,tvEpisode,Star Wars: Episode VI - Return of the Jedi,Star Wars: Episode VI - Return of the Jedi,0.0,2017.0,NaN,NaN,NaN
7880457,tt8924990,video,Star Wars: Episode V - The Empire Strikes Back...,Star Wars: Episode V - The Empire Strikes Back...,0.0,2011.0,NaN,12.0,"Action,Drama,Sci-Fi"
7880466,tt8925010,video,Star Wars: Episode VI - Return of the Jedi: De...,Star Wars: Episode VI - Return of the Jedi: De...,0.0,1983.0,NaN,9.0,"Action,Drama,Sci-Fi"

In [66]:
# keep only movies and start year in [2014;2021], one year margin
df1 = df1[(df1['startYear']>=2014)&(df1['startYear']<=2021)&(df1['titleType']=="movie")]
df1.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11059,tt0011216,movie,Spanish Fiesta,La fête espagnole,0.0,2019.0,NaN,67.0,Drama
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0.0,2019.0,NaN,NaN,"Action,Crime"
16657,tt0016906,movie,Frivolinas,Frivolinas,0.0,2014.0,NaN,80.0,"Comedy,Musical"
61124,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0.0,2020.0,NaN,70.0,Drama
64098,tt0065392,movie,Bucharest Memories,Amintiri bucurestene,0.0,2020.0,NaN,NaN,Documentary

In [67]:
df1[df1["primaryTitle"].str.contains("Star Wars: Episode V",na=False)]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
4993277,tt2488496,movie,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,0.0,2015.0,NaN,138.0,"Action,Adventure,Sci-Fi"
5008541,tt2527336,movie,Star Wars: Episode VIII - The Last Jedi,Star Wars: Episode VIII - The Last Jedi,0.0,2017.0,NaN,152.0,"Action,Adventure,Fantasy"

In [68]:
# get titles table
df = pd.read_csv('./data/title.akas.tsv.gz', compression='gzip', header=0, sep='\t', na_values='\\N')
df.head()

/Users/goujon/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0.0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0.0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0.0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0.0

In [69]:
# Select only US and UK
df2 = df[(df["region"]=="US")|(df["region"]=="UK")]

In [70]:
# Merge
df_data = pd.merge(df1,df2,how="inner",left_on="tconst",right_on="titleId")
df_data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0.0,2020.0,NaN,70.0,Drama,tt0062336,5,The Tango of the Widower and Its Distorting Mi...,US,NaN,imdbDisplay,NaN,0.0
1,tt0065392,movie,Bucharest Memories,Amintiri bucurestene,0.0,2020.0,NaN,NaN,Documentary,tt0065392,3,Bucharest Memories,US,NaN,imdbDisplay,NaN,0.0
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0.0,2018.0,NaN,122.0,Drama,tt0069049,3,The Other Side of the Wind,US,NaN,imdbDisplay,NaN,0.0
3,tt0100275,movie,The Wandering Soap Opera,La telenovela errante,0.0,2017.0,NaN,80.0,"Comedy,Drama,Fantasy",tt0100275,6,The Wandering Soap Opera,US,NaN,imdbDisplay,NaN,0.0
4,tt0112502,movie,Bigfoot,Bigfoot,0.0,2017.0,NaN,NaN,"Horror,Thriller",tt0112502,3,Bigfoot,US,NaN,imdbDisplay,NaN,0.0

## Box-office data from the web

In [71]:
# scrap boxoffice
for i in range(2015,2021):
    df_box_t = pd.read_html(f"https://www.boxofficemojo.com/year/{i}/")[0]
    df_box_t["Year"] = i
    if i == 2015:
        df_box = df_box_t
    else:
        df_box = pd.concat((df_box,df_box_t))
    
print(df_box.shape)
df_box.head()

(1200, 12)

,Rank,Release,Genre,Budget,Running Time,Gross,Theaters,Total Gross,Release Date,Distributor,Estimated,Year
0,1,Jurassic World,-,-,-,"$652,270,625",4291,"$652,270,625",Jun 12,Universal Pictures,False,2015
1,2,Star Wars: Episode VII - The Force Awakens,-,-,-,"$651,967,269",4134,"$936,662,225",Dec 18,Walt Disney Studios Motion Pictures,False,2015
2,3,Avengers: Age of Ultron,-,-,-,"$459,005,868",4276,"$459,005,868",May 1,Walt Disney Studios Motion Pictures,False,2015
3,4,Inside Out,-,-,-,"$356,461,711",4158,"$356,461,711",Jun 19,Walt Disney Studios Motion Pictures,False,2015
4,5,Furious 7,-,-,-,"$353,007,020",4022,"$353,007,020",Apr 3,Universal Pictures,False,2015

In [74]:
#Unmatched movies
df_box[~df_box["Release"].isin(df_data["primaryTitle"])]

,Rank,Release,Genre,Budget,Running Time,Gross,Theaters,Total Gross,Release Date,Distributor,Estimated,Year
150,151,The Green Inferno,-,-,-,"$7,192,291",1543,"$7,192,291",Sep 25,BH Tilt,False,2015
170,171,Hubble 3D,-,-,-,"$4,449,681",151,"$52,522,904",Mar 19,Warner Bros.,False,2015
198,199,The Oscar Nominated Short Films 2015: Live Action,-,-,-,"$2,412,593",280,"$2,412,593",Jan 30,Shorts International,False,2015
153,154,The Lobster2016 Re-release,-,-,-,"$8,700,374",560,"$8,700,374",May 13,A24,False,2016
173,174,The Meddler2016 Re-release,-,-,-,"$4,367,218",464,"$4,267,218",Apr 22,Sony Pictures Classics,False,2016
180,181,Kabali,-,-,-,"$3,903,095",236,"$3,903,095",Jul 21,-,False,2016
100,101,Leap!2017 Re-release,-,-,-,"$21,858,070",2705,"$21,858,070",Aug 25,The Weinstein Company,False,2017
185,186,Close Encounters of the Third Kind2017 Re-release,-,-,-,"$3,100,479",901,"$3,100,479",Sep 1,Sony Pictures Entertainment (SPE),False,2017
189,190,The Oscar Nominated Short Films 2017: Live Action,-,-,-,"$2,835,355",272,"$2,835,355",Feb 10,Shorts International,False,2017
195,196,Showtime Championship Boxing: Floyd Mayweather...,-,-,-,"$2,620,183",532,"$2,620,183",Aug 26,Fathom Events,False,2017
166,167,Once Upon a Deadpool2018 Re-release,-,-,-,"$6,016,007",1566,"$6,100,309",Dec 12,Twentieth Century Fox,False,2018
168,169,Pandas,-,-,-,"$5,757,906",35,"$7,574,012",Apr 6,Warner Bros.,False,2018
196,197,2001: A Space Odyssey2018 Re-release,-,-,-,"$3,236,321",13,"$3,236,321",May 18,Warner Bros.,False,2018
51,52,The Curse of La Llorona,-,-,-,"$54,733,739",3372,"$54,733,739",Apr 19,Warner Bros.,False,2019
164,165,Cold War2018 Re-release,-,-,-,"$4,427,217",270,"$4,580,048",Dec 21,Amazon Studios,False,2019
165,166,Menteur,-,-,-,"$4,403,322",89,"$4,697,364",Jul 12,Entertainment One,False,2019
176,177,The Oscar Nominated Short Films 2019: Documentary,-,-,-,"$3,531,094",415,"$3,531,094",Feb 8,Shorts International,False,2019
194,195,Arctic2019 Re-release,-,-,-,"$2,410,795",268,"$2,410,795",Feb 1,Bleecker Street Media,False,2019
52,53,Hocus Pocus2020 Re-release,-,-,-,"$4,828,000",2570,"$4,828,000",Oct 2,Walt Disney Studios Motion Pictures,False,2020
60,61,2020 Oscar Nominated Short Films,-,-,-,"$3,306,611",536,"$3,306,611",Jan 31,Magnolia Pictures,False,2020
66,67,Star Wars: Episode V - The Empire Strikes Back...,-,-,-,"$2,482,000",2097,"$2,482,000",Jul 10,Walt Disney Studios Motion Pictures,False,2020
68,69,The Nightmare Before Christmas2020 Re-release,-,-,-,"$2,286,000",2194,"$2,286,000",Oct 16,Walt Disney Studios Motion Pictures,False,2020
71,72,Elf2020 Re-release,-,-,-,"$1,975,000",850,"$2,003,568",Nov 13,New Line Cinema,False,2020
78,79,Jurassic Park2020 Re-release,-,-,-,"$1,386,600",316,"$1,386,600",Jun 19,Universal Pictures,False,2020
92,93,National Lampoon's Christmas Vacation2020 Re-r...,-,-,-,"$871,000",620,"$871,000",Nov 25,Warner Bros.,False,2020
96,97,The Goonies2020 Re-release,-,-,-,"$825,000",457,"$825,000",Jul 10,Warner Bros.,False,2020
100,101,Jaws2020 Re-release,-,-,-,"$758,300",187,"$758,300",Jun 19,Universal Pictures,False,2020
104,105,Toy Story2020 Re-release,-,-,-,"$727,000",2102,"$727,000",Nov 6,Walt Disney Studios Motion Pictures,False,2020
105,106,"Monsters, Inc.2020 Re-release",-,-,-,"$726,000",1875,"$726,000",Oct 23,Walt Disney Studios Motion Pictures,False,2020
107,108,The Santa Clause2020 Re-release,-,-,-,"$706,000",1581,"$706,000",Nov 20,Walt Disney Studios Motion Pictures,False,2020
110,111,The Polar Express2020 Re-release,-,-,-,"$691,000",450,"$711,000",Dec 4,Warner Bros.,False,2020
112,113,The Addams Family2020 Re-release,-,-,-,"$678,926",1307,"$678,926",Oct 23,United Artists Releasing,False,2020
115,116,Ghostbusters2020 Re-release,-,-,-,"$605,000",622,"$605,000",Jul 3,Columbia Pictures,False,2020
122,123,Guardians of the Galaxy2020 Re-release,-,-,-,"$542,000",1560,"$542,000",Nov 13,Walt Disney Studios Motion Pictures,False,2020
132,133,The Grinch2020 Re-release,-,-,-,"$502,781",450,"$473,781",Nov 27,Universal Pictures,False,2020
138,139,Beauty and the Beast2020 Re-release,-,-,-,"$467,000",527,"$467,000",Jul 17,Walt Disney Pictures,False,2020
139,140,Inside Out2020 Re-release,-,-,-,"$460,000",442,"$460,000",Jul 10,Walt Disney Pictures,False,2020
142,143,Iron Man2020 Re-release,-,-,-,"$430,000",462,"$430,000",Jul 17,Walt Disney Pictures,False,2020
148,149,Black Panther2020 Re-release,-,-,-,"$367,000",421,"$367,000",Jul 10,Walt Disney Pictures,False,2020
156,157,Die Hard2020 Re-release,-,-,-,"$325,000",1172,"$325,000",Dec 4,Walt Disney Studios Motion Pictures,False,2020
164,165,Gremlins2020 Re-release,-,-,-,"$295,000",64,"$295,000",Jul 10,-,False,2020
165,166,How the Grinch Stole Christmas2020 Re-release,-,-,-,"$294,000",300,"$420,180",Dec 4,Universal Pictures,False,2020
169,170,An American in Paris2020 Re-release,-,-,-,"$267,824",651,"$267,824",Jan 19,Fathom Events,False,2020
170,171,Wonder Woman2020 Re-release,-,-,-,"$252,000",560,"$252,000",Dec 11,Warner Bros.,False,2020
171,172,Back to the Future2020 Re-release,-,-,-,"$247,000",258,"$247,000",Jul 31,Universal Pictures,False,2020
172,173,Bohemian Rhapsody2020 Re-release,-,-,-,"$240,000",-,"$240,000",Jul 17,Twentieth Century Fox,False,2020
173,174,63 Up,-,-,-,"$238,204",28,"$483,684",Nov 27,BritBox,False,2020
174,175,Tokyo Godfathers2020 Re-release,-,-,-,"$237,581",519,"$237,571",Mar 9,Fathom Events,False,2020
177,178,Doctor Who Live Q&A And Screening,-,-,-,"$228,615",692,"$228,615",Jan 5,Fathom Events,False,2020
179,180,Frozen2020 Re-release,-,-,-,"$215,000",1367,"$215,000",Nov 25,Walt Disney Studios Motion Pictures,False,2020
182,183,Jiang Ziya,-,-,-,"$206,975",55,"$214,670",Oct 1,Well Go USA Entertainment,False,2020
185,186,National Theater Live: Cyrano de Bergerac2020 ...,-,-,-,"$198,352",472,"$198,352",Feb 20,Fathom Events,False,2020
199,200,Love Story50th Anniversary,-,-,-,"$153,504",650,"$153,504",Feb 9,Fathom Events,False,2020

In [75]:
# merge boxoffice data with IMDb
df4 = pd.merge(df_data,df_box,how="outer",left_on="primaryTitle",right_on="Release")
# remove duplicates: only keep first for now
df4 = df4.groupby("Release").agg(lambda x: x.iloc[0])
print(df4.shape)
df4.head()

(1090, 28)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,titleId,...,Genre,Budget,Running Time,Gross,Theaters,Total Gross,Release Date,Distributor,Estimated,Year
Release,,,,,,,,,,,,,,,,,,,,,
10 Cloverfield Lane,tt1179933,movie,10 Cloverfield Lane,10 Cloverfield Lane,0.0,2016.0,NaN,103,"Action,Drama,Horror",tt1179933,...,-,-,-,"$72,082,998",3427,"$72,082,998",Mar 11,Paramount Pictures,False,2016.0
100% Wolf,tt8774798,movie,100% Wolf,100% Wolf,0.0,2020.0,NaN,96.0,"Adventure,Animation,Comedy",tt8774798,...,-,-,-,"$514,957",124,"$658,764",Oct 9,Viva Pictures,False,2020.0
12 Strong,tt1413492,movie,12 Strong,12 Strong,0.0,2018.0,NaN,130.0,"Action,Drama,History",tt1413492,...,-,-,-,"$45,819,713",3018,"$45,819,713",Jan 19,Warner Bros.,False,2018.0
13 Hours,tt4172430,movie,13 Hours,13 Hours,0.0,2016.0,NaN,144.0,"Action,Drama,History",tt4172430,...,-,-,-,"$52,853,219",2917,"$52,853,219",Jan 15,Paramount Pictures,False,2016.0
1917,tt8579674,movie,1917,1917,0.0,2019.0,NaN,119.0,"Action,Drama,War",tt8579674,...,-,-,-,"$157,901,466",3987,"$159,227,644",Dec 25,Universal Pictures,False,2020.0

## Back to IMDb to names associated with the movie (director and main actors names)

In [76]:
#df_crew = pd.read_csv('./data/title.crew.tsv.gz', compression='gzip', header=0, sep='\t', na_values='\\N')
#df_crew.head()

      tconst  directors writers
0  tt0000001  nm0005690     NaN
1  tt0000002  nm0721526     NaN
2  tt0000003  nm0721526     NaN
3  tt0000004  nm0721526     NaN
4  tt0000005  nm0005690     NaN

### Get list of people linked to the movie

In [78]:
df_actors = pd.read_csv('./data/title.principals.tsv.gz', compression='gzip', header=0, sep='\t', na_values='\\N')
df_actors.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]"
1,tt0000001,2,nm0005690,director,NaN,NaN
2,tt0000001,3,nm0374658,cinematographer,director of photography,NaN
3,tt0000002,1,nm0721526,director,NaN,NaN
4,tt0000002,2,nm1335271,composer,NaN,NaN

In [81]:
#df5 = pd.merge(df4,df_crew,how="left",left_on="tconst",right_on="tconst")
df5 = pd.merge(df4,df_actors,how="left",left_on="tconst",right_on="tconst")

In [82]:
df5.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,titleId,...,Total Gross,Release Date,Distributor,Estimated,Year,ordering_y,nconst,category,job,characters
0,tt1179933,movie,10 Cloverfield Lane,10 Cloverfield Lane,0.0,2016.0,NaN,103,"Action,Drama,Horror",tt1179933,...,"$72,082,998",Mar 11,Paramount Pictures,False,2016.0,10.0,nm6618222,producer,producer,NaN
1,tt1179933,movie,10 Cloverfield Lane,10 Cloverfield Lane,0.0,2016.0,NaN,103,"Action,Drama,Horror",tt1179933,...,"$72,082,998",Mar 11,Paramount Pictures,False,2016.0,1.0,nm0000422,actor,NaN,"[""Howard""]"
2,tt1179933,movie,10 Cloverfield Lane,10 Cloverfield Lane,0.0,2016.0,NaN,103,"Action,Drama,Horror",tt1179933,...,"$72,082,998",Mar 11,Paramount Pictures,False,2016.0,2.0,nm0935541,actress,NaN,"[""Michelle""]"
3,tt1179933,movie,10 Cloverfield Lane,10 Cloverfield Lane,0.0,2016.0,NaN,103,"Action,Drama,Horror",tt1179933,...,"$72,082,998",Mar 11,Paramount Pictures,False,2016.0,3.0,nm0302330,actor,NaN,"[""Emmett""]"
4,tt1179933,movie,10 Cloverfield Lane,10 Cloverfield Lane,0.0,2016.0,NaN,103,"Action,Drama,Horror",tt1179933,...,"$72,082,998",Mar 11,Paramount Pictures,False,2016.0,4.0,nm0341174,actor,NaN,"[""Driver""]"

In [ ]:
# director field to array
# df5["directors"] = df5["directors"].apply(lambda x:x.split(","))
# # explode directors
# df5 = df5.explode('directors')
# df5.head()

### Retrieve names from the ids

In [83]:
df_name = pd.read_csv('./data/name.basics.tsv.gz', compression='gzip', header=0, sep='\t', na_values='\\N')

In [84]:
df6 = pd.merge(df5,df_name,how="inner",left_on="nconst",right_on="nconst")
df6.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,titleId,...,ordering_y,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt1179933,movie,10 Cloverfield Lane,10 Cloverfield Lane,0.0,2016.0,NaN,103,"Action,Drama,Horror",tt1179933,...,10.0,nm6618222,producer,producer,NaN,Lindsey Weber,NaN,NaN,producer,"tt1179933,tt2660888,tt4530422,tt2548396"
1,tt4530422,movie,Overlord,Overlord,0.0,2018.0,NaN,110.0,"Action,Horror,Sci-Fi",tt4530422,...,9.0,nm6618222,producer,producer,NaN,Lindsey Weber,NaN,NaN,producer,"tt1179933,tt2660888,tt4530422,tt2548396"
2,tt1179933,movie,10 Cloverfield Lane,10 Cloverfield Lane,0.0,2016.0,NaN,103,"Action,Drama,Horror",tt1179933,...,1.0,nm0000422,actor,NaN,"[""Howard""]",John Goodman,1952.0,NaN,"actor,soundtrack,producer","tt0101410,tt1024648,tt1179933,tt1907668"
3,tt2406566,movie,Atomic Blonde,Atomic Blonde,0.0,2017.0,NaN,115.0,"Action,Thriller",tt2406566,...,3.0,nm0000422,actor,NaN,"[""Emmett Kurzfeld""]",John Goodman,1952.0,NaN,"actor,soundtrack,producer","tt0101410,tt1024648,tt1179933,tt1907668"
4,tt5968394,movie,Captive State,Captive State,0.0,2019.0,NaN,109.0,"Action,Horror,Sci-Fi",tt5968394,...,1.0,nm0000422,actor,NaN,"[""William Mulligan""]",John Goodman,1952.0,NaN,"actor,soundtrack,producer","tt0101410,tt1024648,tt1179933,tt1907668"

In [85]:
df6.to_csv("movie_data_2015_2020.csv")